@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}


<section id="hero">

    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">

        <h2>@ViewBag.Title.</h2>


        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h5 class="text-white mt-0 justify-content-center">Cree una cuenta nueva.</h5>
            <hr class="bg-light" /><br />

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-11 control-label text-white" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-11 control-label text-white" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-11 control-label text-white" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <br />
                <br />
                <br />
                <input type="submit" class="btn btn-outline-light" value="Registrarse" />


            </div>


        }

    </div>

</section>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
